@using System.Windows.Input
@namespace YKToolkit.Blazor
@inherits ModalDialogBase

<div class="modal fade @_classShow" tabindex="-1" style="display: @_display; background-color: rgba(10, 10, 10, 0.8);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                @if (this.Image == MessageBoxIcon.None)
                {
                    @ChildContent
                }
                else
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2">
                                @switch (this.Image)
                                {
                                    case MessageBoxIcon.Information:
                                        <InformationIcon />
                                        break;

                                    case MessageBoxIcon.Warning:
                                        <WarningIcon />
                                        break;

                                    case MessageBoxIcon.Error:
                                        <ErrorIcon />
                                        break;
                                }
                            </div>
                            <div class="col-10">
                                @ChildContent
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                @if (_isCancelButtonVisibled)
                {
                    <button class="btn btn-secondary" @onclick="() => DialogResultCallback(MessageBoxResult.Cancel)">@CancelButtonCaption</button>
                }
                @if (_isOkButtonVisibled)
                {
                    <button class="btn btn-primary" @onclick="() => DialogResultCallback(MessageBoxResult.Ok)">@OkButtonCaption</button>
                }
                @if (_isNoButtonVisibled)
                {
                    <button class="btn btn-danger" @onclick="() => DialogResultCallback(MessageBoxResult.No)">@NoButtonCaption</button>
                }
                @if (_isYesButtonVisibled)
                {
                    <button class="btn btn-primary" @onclick="() => DialogResultCallback(MessageBoxResult.Yes)">@YesButtonCaption</button>
                }
            </div>
        </div>
    </div>
</div>
